/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

html, body
{
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.alert
{
    -moz-animation: cssAnimation 0s ease-in 8s forwards !important;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 8s forwards !important;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 8s forwards !important;
    /* Opera */
    animation: cssAnimation 0s ease-in 8s forwards !important;
    -webkit-animation-fill-mode: forwards !important;
    animation-fill-mode: forwards !important;
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
    z-index: 2000 !important;
}

@keyframes cssAnimation {
    to {
        padding:0;
        border:0;
        width:0;
        height:0;
        overflow:hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        padding:0;
        border:0;
        width:0;
        height:0;
        visibility:hidden;
    }
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #181b1e;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    border-top: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgba(0,0,0,0.7);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgba(0,0,0,0.7);
    background: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.bg-dark
{
    background-color: #181b1e !important;
}

.one
{
    width: 100px;
    height: 100px;
    border-radius: 500px;
    border: 5px solid #ffffff;
    animation: spin 10s infinite linear;
    transform-style: preserve-3d;
}

.two
{
    width: 90px;
    height: 90px;
    border-radius: 500px;
    border: 5px solid #ffffff;
    animation: spin 10s infinite linear;
    transform-style: preserve-3d;
}

.three
{
    text-align: center !important;
    position: absolute !important;
    left: 55px;
    top: 40px;
}

@-webkit-keyframes
{
    0% {transform: rotateX(0deg) rotateY(0deg);}
    50%{transform: rotateX(-180deg) rotateY(180deg);}
    90% {transform: rotateX(0deg) rotateY(0deg);}
}

@-moz-keyframes
{
    0% {transform: rotateX(0deg) rotateY(0deg);}
    50%{transform: rotateX(-180deg) rotateY(180deg);}
    90% {transform: rotateX(0deg) rotateY(0deg);}
}

@-o-keyframes
{
    0% {transform: rotateX(0deg) rotateY(0deg);}
    50%{transform: rotateX(-180deg) rotateY(180deg);}
    90% {transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes spin
{
    0% {transform: rotateX(0deg) rotateY(0deg);}
    50%{transform: rotateX(-180deg) rotateY(180deg);}
    90% {transform: rotateX(0deg) rotateY(0deg);}
}
@media (max-width:992px)
{
    .three
    {
        left: 40px !important;
    }
}

.ml-7
{
    margin-left: 7%;
}

body, html {
  height:100%;
}

/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
    margin-left: -6px;
  }
  
  .sidebar-offcanvas {
    width: 45%;
  }
}

.card {
    overflow:hidden;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
    text-align: center !important;
    cursor: pointer;
}

.datepicker-dropdown {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.form-check-input
{
    position: initial !important;
    margin-right: 10px !important;
}
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-append > .btn, .input-group-lg > .input-group-append > .input-group-text, .input-group-lg > .input-group-prepend > .btn, .input-group-lg > .input-group-prepend > .input-group-text
{
    font-size: 1.05rem !important;
    font-weight: 500 !important;
}

.terms
{
    font-size: 0.7rem !important;
}

.card
{
    box-shadow: none !important;
    margin: 5% 0 5% 0;
}

.custom-control-input
{
    z-index: 99 !important;
}