body
{
	font-style: sans-serif !important;
}

h1
{
	font-weight: 700 !important;
	letter-spacing: 0;
	font-size: 1.5em;
}

.grid
{
	display: grid;
}

.title
{
	font-weight: 700 !important;
	letter-spacing: 0;
	font-size: 1.5em;
	color: rgba(200, 200, 200, 0.90);
}

.line
{
	border-bottom: 3px solid black;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	width: 100%;
}

.separator
{
	margin-top: 30px;
	margin-bottom: 20px;
}

.ml-auto
{
	margin-left: auto !important;
}

.navbar-light
{
	line-height: 0.5;
}

.navbar
{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 600;
}

.nav-link
{
	font-size: 1.1em;
	display: block;
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	padding-top: 0.715rem;
	padding-bottom: 0.715rem;
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}

.navbar-dark .navbar-nav .nav-link:hover
{
	color: rgba(255, 255, 255, 0.9) !important;
}

.category-title
{
	background: linear-gradient(black,black) 0 calc(100% - 200px)/100% 2px no-repeat;
}

.bg-dark
{
	background-color: #181b1e !important;
}

.me-sm-2
{
	margin-right: 0.5rem !important;
}

.form-control
{
	display: block;
	width: 100%;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #55595c;
	background-color: #f7f7f9;
	background-clip: padding-box;
	border: 0 solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn
{
	font-size: 0.875rem;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 600;
	line-height: 1.5rem;
	color: #55595c;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 0 solid transparent;
	font-size: 1rem;
	border-radius: 0;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary
{
	color: #000000;
	background-color: #ffffff;
	border-color: #ffffff;
}

.my-sm-0
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.me-auto
{
	margin-right: auto !important;
}

.dropdown-menu
{
	border-radius: 0px !important;
	padding: 0px !important;
	z-index: 999;
}

.dropdown-item
{
	font-size: 0.775rem !important;
	text-transform: uppercase;
	font-weight: 700 !important;
}

.dropdown-item:focus, .dropdown-item:hover
{
	background-color: black !important;
	color: white !important;
}

.dropdown-item:first-child
{
	padding-top: 0.5rem !important;
}

.dropdown-item:last-child
{
	padding-bottom: 0.5rem !important;
}

div
{
}

.one
{
	width: 100px;
	height: 100px;
	border-radius: 500px;
	border: 5px solid #ffffff;
	animation: spin 10s infinite linear;
	transform-style: preserve-3d;
}

.two
{
	width: 90px;
	height: 90px;
	border-radius: 500px;
	border: 5px solid #ffffff;
	animation: spin 10s infinite linear;
	transform-style: preserve-3d;
}

.three
{
	text-align: center !important;
	position: absolute !important;
	left: 55px;
	top: 40px;
}

@-webkit-keyframes
{
	0% {transform: rotateX(0deg) rotateY(0deg);}
	50%{transform: rotateX(-180deg) rotateY(180deg);}
	90% {transform: rotateX(0deg) rotateY(0deg);}
}

@-moz-keyframes
{
	0% {transform: rotateX(0deg) rotateY(0deg);}
	50%{transform: rotateX(-180deg) rotateY(180deg);}
	90% {transform: rotateX(0deg) rotateY(0deg);}
}

@-o-keyframes
{
	0% {transform: rotateX(0deg) rotateY(0deg);}
	50%{transform: rotateX(-180deg) rotateY(180deg);}
	90% {transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes spin
{
	0% {transform: rotateX(0deg) rotateY(0deg);}
	50%{transform: rotateX(-180deg) rotateY(180deg);}
	90% {transform: rotateX(0deg) rotateY(0deg);}
}

#lume-menu-dropdown
{
	min-width: 136px !important;
}


@media (max-width:992px)
{
	.three
	{
		left: 40px !important;
	}

	.navbar-expand-lg .navbar-collapse
	{
		display: block !important;
	}

	.navbar-collapse
	{
		flex-basis: auto !important;
	}

	.navbar-expand-lg .navbar-nav
	{
		flex-direction: row !important;
	}

	#search-bar
	{
		display: none !important;
	}

	.navbar-brand
	{
		display: none;
	}

	.navbar-expand-lg .navbar-nav .dropdown-menu
	{
		position: absolute !important;
	}

	.dropdown-menu
	{
		z-index: 999 !important;
	}
}

@media (max-width:600px)
{
	.navbar-expand-lg .navbar-nav
	{
		flex-direction: column !important;
	}

	.navbar-expand-lg .navbar-collapse
	{
		margin: auto !important;
	}

	.navbar-collapse
	{
		flex-basis: 0 !important;
		flex-grow: 0 !important;
	}
}