.utility-info {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 20;
  width:100%;
  text-align:left
}
.utility-info:after{
  content:" ";
  background: url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg) center no-repeat;
  background-size: 30px auto;
  display:block;
  opacity: 0.4;
  position:absolute;
  bottom:25px;
  right:15px;
  width:30px;
  height:15px
}
.utility-info a:hover{
  text-decoration:underline
}
.utility-list {
  list-style-type: none;
  margin: 0 0 10px 20px;
  padding: 0;
  width: 100%;

}
.utility-list li {
  margin: 0 5px 0 0;
  padding: 3px 0 15px 0px;
  display: inline-block;
  
  font-size:0.8em
}

.licon{
  position:relative;  
   width:23px;
   height:15px;
   display:inline-block;
   vertical-align:middle;
}
.licon:before{
  content:"";
   background:url(https://rawcdn.githack.com/Nodws/NodPen/ffad95aa5244b4b09a3c7c1508a018959bbedb7e/postItem/licons.svg?) -2px -6px no-repeat;
   background-size:250px;
   width:26px;
   height:20px;
   display:inline-block;
   vertical-align:middle;
   position:absolute;
   top:-3px;
   left:0;
}
.icon-white{
   filter: brightness(10);
}
.icon-black{
   filter: brightness(0);
   opacity:0.6
}
.icon-like:before{
  background-position: -183px -6px;

}
.icon-com:before{
  background-position: -63px -4px;

}
.icon-dat:before{
  background-position: -94px -7px;
}
.icon-tag:before{
  background-position: -33px -6px;

}

.text-right
{
  text-align: right !important;
}

/** Social Counter **/
.widget-social-counter ul li {
    width: 50%;
    display: inline-block;
    float: left;
    margin-bottom: 20px;
    height: 52px;
    overflow: hidden;
}

.widget-social-counter ul li a
{
	text-decoration: none !important;
	color: #212529 !important;
}

.widget-social-counter ul li a:visited
{
	color: #212529 !important;
}


.widget-social-counter ul li .social-icon {
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    margin-right: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   	backface-visibility: hidden;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    background-color: #111;    
}
.widget-social-counter ul li .social-icon i {
    line-height: 40px;
    font-size: 20px;
}
.widget-social-counter ul li .data {
    float: left;
    display: inline-block;
    color: #111;
}
.widget-social-counter ul li .data .counter{
    font-size: 20px;
    font-weight: bold !important; 
    line-height: 1;
    margin-bottom: 8px;
    letter-spacing: 1px;
}
.widget-social-counter ul li .data .subscribe {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold !important; 
    line-height: 1;
    margin-bottom: 12px;
}
.widget-social-counter ul li .data .text {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    color: #888;
}
.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px
}

.comment-text:hover {
    visibility: hidden
}

.comment-text:hover {
    visibility: visible
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%
}

.round img {
    border-radius: 100%
}

.label-info {
    background-color: #1976d2
}

.label-success {
    background-color: green
}

.label-danger {
    background-color: #ef5350
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4
}

.action-icons a:hover {
    color: #1976d2
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}
@media (min-width: 0) {
    .g-mr-15 {
        margin-right: 1.07143rem !important;
    }
}
@media (min-width: 0){
    .g-mt-3 {
        margin-top: 0.21429rem !important;
    }
}

.g-height-50 {
    height: 50px;
}

.g-width-50 {
    width: 50px !important;
}

@media (min-width: 0){
    .g-pa-30 {
        padding: 2.14286rem !important;
    }
}

.g-bg-secondary {
    background-color: #fafafa !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
    color: #777 !important;
}

.g-font-size-12 {
    font-size: 0.85714rem !important;
}

.media-comment {
    margin-top:20px;
}

.card
{
	border: none !important;
}

.be-comment-block {
    margin-bottom: 50px !important;
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 50px 70px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'Conv_helveticaneuecyr-bold';
}

.form-group.fl_icon .icon {
    position: absolute;
    top: 1px;
    left: 16px;
    width: 48px;
    height: 48px;
    background: #f6f6f7;
    color: #b5b8c2;
    text-align: center;
    line-height: 50px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.form-group .form-input {
    font-size: 13px;
    line-height: 50px;
    font-weight: 400;
    color: #b4b7c1;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #edeff2;
    border-radius: 3px;
}

.form-group.fl_icon .form-input {
    padding-left: 70px;
}

.form-group textarea.form-input {
    height: 150px;
}

.liked
{
  color: #3C92F7 !important;
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: contain;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: contain;';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg
{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}